@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    text-decoration: none;
}

body {
    padding-top: 70px;
}

section > hr{
    margin: auto;
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

#profile-conteudo > span > a, #followers-container > a > i {
    color: #343a40;
}

#profile-conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
}

#repo-details > p {
    font-size: 22px;
}

#followers-tooltip {
    position: absolute;
    top: -0.3rem;
    left: 400%;
    transform: translateX(-50%);
    background-color: #343a40;
    color: #ffffff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    white-space: nowrap;
    z-index: 10;
    display: none;
}

#followers-container:hover #followers-tooltip {
    display: block;
}

.carousel-caption,
.carousel-control-prev,
.carousel-control-next {
    transition: opacity 0.5s;
}

.carousel-caption,
.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}

.carousel-caption.visible,
.carousel-control-prev.visible,
.carousel-control-next.visible {
    opacity: 1;
}

.carousel-item.video-item .carousel-caption,
.carousel-item.video-item .carousel-control-prev,
.carousel-item.video-item .carousel-control-next {
    opacity: 0;
}

.carousel-item.video-item:hover .carousel-caption,
.carousel-item.video-item:hover .carousel-control-prev,
.carousel-item.video-item:hover .carousel-control-next {
    opacity: 1;
}

#movie_player > div.ytp-cued-thumbnail-overlay > div {
    height: max-content;
}

#colegas-list > div > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#colegas-list > div > div > div > a { 
    width: auto !important;
}

#colegas-list > div > div > div > a > i{ 
    color: #343a40;
}

  

footer{
    width: 100%;
    padding: 30px 0px;
    background: rgb(225,225,225);
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #444444;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 8px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #3a3a3a;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #3a3a3a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #3a3a3a;
}

body::-webkit-scrollbar {
    width: 10px;                    /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #e1e1e1;          /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #343434;    /* color of the scroll thumb */
    border-radius: 20px;            /* roundness of the scroll thumb */
    border: 3px solid #e1e1e1;    /* creates padding around scroll thumb */
  }